* {
  margin: 0px;
  padding: 0px;
  font-family: "Century Gothic";
}

header {
  margin-top: -15px;
  width: 100%;
}

nav {
  margin: 20px auto;
  width: 90%;
  max-width: 1000px
}

nav ul {
  list-style: none;
}

nav>ul {
  display: table;
  width: 100%;
  background: #000;
  position: relative;
}

nav>ul li {
  display: table-cell;
}


/*Sub Menu*/


/*Esto Permite que el submenu de Manga salga*/

nav>ul>li:hover>.MDM {
  display: block;
  height: 100%;
}


/*Esto Permite que el submenu de Anime salga*/

nav>ul>li:hover>.MDA {
  display: block;
  height: 100%;
}


/*Esto Modifica la transicion y modifica el submenu*/

nav>ul>li>ul {
  display: block;
  position: absolute;
  background: #000;
  z-index: 4;
}

nav>ul>li>ul {
  display: none;
}


/*Estilo de las etiquetas a*/

nav>ul li a {
  color: #fff;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
}


/*Le da color al sub menu al pasar sobre el*/

.uno-1:hover {
  background: #5da5a2;
}

.dos-1:hover {
  background: #f25724;
}


/*Estilo de las etiquetas de span que contienen los botones principlaes*/

nav>ul>li>a span {
  background: #174459;
  display: block;
  height: 100%;
  width: 100%;
  left: 0px;
  position: absolute;
  top: -60px;
  transition: all .3s ease;
}


/*Permite centrar los iconos de los botones principlaes*/

nav>ul>li>a span .icon {
  display: block;
  line-height: 60px;
}


/*Activa la transicion del boton principal*/

nav>ul>li>a:hover>span {
  top: 0px;
}


/*Color de los botones principales*/

.uno {
  background: #0e5061;
}

.dos {
  background: #5da5a2;
}

.tres {
  background: #f25724;
}

.cuatro {
  background: #37a4d9;
}


/*###############SLIDE SHOW##############*/

.main {
  width: 95%;
  margin: 25px auto;
}

.slides {
  width: 65%;
}

.slides #ilink {
  width: 100%;
}

.slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li {
  float: left;
}

.slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.slidesjs-pagination li a:hover {
  background: #000;
}

.slides .active {
  background: #000;
}

.slidesjs-navigation {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: "Century Gothic";
  display: inline-block;
  padding: 10px 20px;
  float: right;
}


/*panel de la derecha*/

.thoru {
  position: fixed;
  background: #ffffff;
  border: 5px;
  border-style: solid;
  border-color: #000000;
  transform: translate(300%, -112%);
  width: 300px;
  height: 530px;
  color: #000000;
}

#fb {
  transform: translate(0px, -17px);
}

#gif {
  transform: translate(-100px, 0px);
}

#mas {
  position: absolute;
  transform: translate(30px, 30px);
}

#busqueda {
  border-color: #000000;
  border-radius: 10px;
  height: 22px;
  background: url("img/lupa.png") no-repeat scroll 0 0 transparent;
  background-size: 10%;
  background-position: right;
  padding-left: 10px;
  padding-right: 30px;
}

footer>div {
  color: white;
  z-index: 2;
  font-size: 1em;
  background: #303030;
  height: 50px;
}

footer>div>a {
  text-decoration: none;
  color: white;
}

footer {
  position: absolute;
  width: 100%;
}

#otro {
  transform: translate(-90px, -40px);
  text-align: center;
}

#otromas {
  text-align: right;
  transform: translate(-10px, -80px);
}
