* {
  margin: 0px;
  padding: 0px;
  font-family: "Century Gothic";
}

.divForm {
  width: 1000px;
  border: 5px;
  border-style: solid;
  border-color: #000000;
  border-radius: 30%;
}

#namae {
  border-color: #000000;
  border-radius: 10px;
  height: 10px;
  padding: 15px;
  font-size: 15px;
}

#send {
  background: #ffffff;
  border: 4px;
  border-style: solid;
  border-color: #000000;
  width: 300px;
}

#ima {
  height: 30%;
  width: 20%;
}

#send:hover {
  background: #000000;
  width: 320px;
  height: auto;
}
