* {
  margin: 0px;
  padding: 0px;
  font-family: "Century Gothic";
}


/*panel de la derecha*/

.thoruMR {
  position: fixed;
  background: #ffffff;
  border: 5px;
  border-style: solid;
  border-color: #000000;
  transform: translate(300%, -97px);
  width: 300px;
  height: 530px;
  color: #000000;
}

.gif {
  transform: translate(-80px, 50px);
  height: 250px;
}

.thoruMR>#mas {
  position: absolute;
  transform: translate(30px, 30px);
}

#fb {
  transform: translate(0px, -17px);
}

.thoruMR>#busqueda {
  border-color: #000000;
  border-radius: 10px;
  height: 22px;
  background: url("img/lupa.png") no-repeat scroll 0 0 transparent;
  background-size: 10%;
  background-position: right;
  padding-left: 10px;
  padding-right: 30px;
}


/*Titulo*/

.Titulo {
  padding-left: 20%;
}


/****Estilos Recomendaciones*/

.Recom {
  width: 850px;
  margin-right: : 40px;
  margin-left: 40px;
}

.mainB {
  width: 110% max-width: 1000px;
  margin: 25px auto;
  margin-left: 7%;
}

.slidesB {
  width: 100%;
}

.slidesB img {
  width: 100%;
}

.slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li {
  float: left;
}

.slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.slidesjs-pagination li a:hover {
  background: #000;
}

.slidesB .active {
  background: #000;
}

.slidesjs-navigation {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: "Century Gothic";
  display: inline-block;
  padding: 10px 20px;
  float: right;
}
