* {
  margin: 0px;
  padding: 0px;
  font-family: "Century Gothic";
}


/*panel de la derecha*/

.thoruMP {
  position: fixed;
  background: #ffffff;
  border: 5px;
  border-style: solid;
  border-color: #000000;
  transform: translate(300%, -18%);
  width: 300px;
  height: 530px;
  color: #000000;
}

.gif {
  transform: translate(-5px, 50px);
  height: 250px;
}

.thoruMP>#mas {
  position: absolute;
  transform: translate(30px, 30px);
}

.thoruMP>#busqueda {
  border-color: #000000;
  border-radius: 10px;
  height: 22px;
  background: url("img/lupa.png") no-repeat scroll 0 0 transparent;
  background-size: 10%;
  background-position: right;
  padding-left: 10px;
  padding-right: 30px;
}


/*Titulo*/

.Titulo {
  padding-left: 25%;
}
